@import "@styles/_index.scss";

nav.navbar {
  background-color: var(--a-surface-subtle);
  border-bottom: 1px solid var(--a-border-subtle);
  font-size: var(--a-font-size-heading-small);
  padding-left: var(--a-spacing-3);
  padding-right: var(--a-spacing-3);

  .list-item {
    padding: var(--a-spacing-3);

    .nav-link {
      text-decoration: none;
      font-weight: var(--a-font-weight-bold);
      color: var(--a-text-subtle);
      padding: calc(var(--a-spacing-3));

      &:hover {
        background-color: var(--a-surface-action-subtle-hover);
      }

      &.active {
        color: var(--a-text-on-inverted);
        background-color: var(--a-surface-action-active);
      }
    }
  }

  .right-menu {
    .list-item {
      padding: 0;
    }
  }
}

// Navigation Mobile
.navbar-mobile.navds-hstack {
  display: none;
}

@include tablet {
  .navbar-mobile.navds-hstack {
    display: block;
  }

  nav.navbar {
    padding: 0;

    ul.nav-bar-ul {
      background-color: var(--a-surface-subtle);
      position: absolute;
      width: 100%;
      z-index: var(--a-z-index-tooltip);
      left: -100%;
      transition: left 0.2s ease-in-out;

      &.open {
        left: 0%;
      }
    }
    .menu-button {
      padding: var(--a-spacing-3);
    }

    .menu-stack {
      flex-direction: column;
      align-items: end;
      gap: 0;
    }

    .nav-link-list,
    .right-menu {
      flex-direction: column;
      width: 100%;
      .list-item {
        margin: 0 auto;
      }
    }
  }
}
