@import "@navikt/ds-tokens";

:root {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
}

nav.navbar {
  background-color: var(--a-bg-subtle);
  /* background-color: var(--a-lightblue-50); */
  border-bottom: 1px solid var(--a-border-subtle);
  font-size: var(--a-font-size-heading-small);
  padding: var(--a-spacing-6);

  &.dark {
    background-color: var(--a-surface-inverted);
    border-bottom : 1px solid var(--a-border-on-inverted-subtle);
    color: var(--a-text-on-inverted)

  }


    

    /* background-color: red */
    li {
      /* background-color: red; */
      /* padding: var(--a-spacing-2); */

        padding: var(--a-spacing-3);
    
    & a {
      /* padding: var(--a-spacing-6); */

      text-decoration: none;
      color: var(--a-text-subtle);
      
      &.active {
        color: var(--a-text-default);
        border-bottom: 2px solid var(--a-blue-500);
        /* padding: var(--a-spacing-9); */
      }
    }
  }
  
} 

/* From aksel */
@media (min-width: 480px) {}
@media (min-width: 768px) {}
@media (min-width: 1024px) {}
@media (min-width: 1280px) {}